* {
  box-sizing: border-box;
}

a {
  font: Helvetica, arial, nimbussansl, liberationsans,freesans, clean, sans-serif
  font-weight: bold;
  box-sizing: border-box;
  color: #4078C0;
  word-wrap: break-word;
}

body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI",Arial, freesans, sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
  margin-top: 6em;
  margin-left: 10%;
  margin-right: 10%;
}


nav {
  display: block;
  height: 100%;
  float: right;
}

nav > ul {
  list-style: none;
  height: 100%;
  display: inline-block;
  margin: 0 1em;
  padding: 0;
}

nav > ul li {
  width: auto;
  display: inline-block;
  height: 100%;
  padding: 0 .5em;
  margin: 0;
}

nav li a {
  display: block;
  padding: 2em 0 1em 0;
}

.topbar {
  width: 92%;
  position: fixed;
  top: 0px;
  left: 4%;
  height: 4.8em;
  background-color: #fff;
}
.topbar:after {
  content: '';
  display: table;
  clear: both;
}

.topbar img {
  height: 2.7em;
  margin-top: 1.4em;
}

header {
  text-align: center;
}

.topbar header {
  float: left;
}

header.hero {
  width: 100%;
}

header img {
  height: 100%;
}

.content {
  max-width: 1200px;
  width: 80%;
  margin: 4em auto 0 auto;
}

footer {
  font-size: x-small;
  color: #444;
  text-align: center;
  margin-top: 100px;
}
