head, body {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

body {
  margin-top: 5em;
}

a {
  color: #000;
  text-decoration: underline;
}

nav {
  display: block;
  top: 0;
  left: 0;
  float: right;
}

nav > ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav > ul li {
  width: auto;
  display: inline-block;
  height: 100%;
  padding: 0 1em;
  margin: 0;
}

nav li a {
  display: block;
  padding: 1em 0;
}

.topbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 2.5em;
  padding: .25em;
  background-color: #fff;
}
.topbar:after {
  content: '';
  display: table;
  clear: both;
}

.topbar img {
  height: 2.5em;
}

header {
  text-align: center;
}

.topbar header {
  float: left;
}

header.hero {
  width: 100%;
}

header img {
  height: 100%;
}

.content {
  max-width: 1200px;
  width: 80%;
  margin: 4em auto 0 auto;
}

footer {
  font-size: x-small;
  color: #444;
  text-align: center;
  margin-top: 100px;
}
