<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    {{ partial "head.html" . }}

    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
  </head>
  <body class="container">
    <header>
      {{ partial "menu.html" . }}
    </header>
    <div class="content">
      <h1><a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a></h1>
      <div class="meta">Author: {{ .Params.author }}, Reading time: {{ .ReadingTime }} minutes</div>
      {{ .Content }}
    </div>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
