<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    {{ partial "head.html" . }}

    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
  </head>
  <body>
    <div class="topbar">
      {{ partial "menu.html" . }}
      <a href="/">
        <header class="top">
          <img src="/img/logo.svg" alt="Redox Logo">
        </header>
      </a>
    </div>
    <div class="content">
      <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <div class="meta">Author: {{ .Params.author }}, Reading time: {{ .ReadingTime }} minutes</div>
      {{ .Content }}
    </div>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
