{{ partial "head.html" . }}
{{ partial "menu.html" . }}
<div class="content">
  <h1><a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a></h1>
  {{ if .Params.listing }}
      <ul class="laundry-list">
        {{ if .Site.Taxonomies.groups.news.Pages }}
          {{ range .Site.Taxonomies.groups.news.Pages }}
          <li>
            <a href="{{ .URL }}">{{ .Title }}</a>
            <div class="meta">By {{ .Params.author }} on <time datetime="{{ .Date }}" class="date">{{ .Date.Format "Monday, January 2, 2006" }}</time></div>
          </li>
          {{ end }}
        {{ else }}
          <b>No items</b>
        {{ end }}
      </ul>
  {{ else }}
      <h5>By {{ .Params.author }} on {{ .Date.Format "Monday, January 2, 2006" }}</time></h5>
      {{ .Content }}
  {{ end }}
</div>
{{ partial "footer.html" . }}
