<footer class="copyright">
    <p>
        <a style="color: inherit; margin-right: 2em;" href="{{ .URL }}">{{ .Language.LanguageName }}</a>
        {{ if .IsTranslated }}
          {{ range .Translations }}
            <a style="color: inherit; margin-right: 2em;" href="{{ .URL }}">{{ .Language.LanguageName }}</a>
          {{ end}}
        {{ end }}
    </p>
    Copyright &copy; 2023 by <a style="color: inherit;" href="https://gitlab.redox-os.org/redox-os"><b>Redox Developers</b></a>
</footer>
</body>
</html>
