</main>
<footer>
  <div class="mx-auto content mt-5 px-5 container is-widescreen">
    <nav id="footer-nav" class="columns">
      <nav class="column columns">
        <div class="column">
          <h3>Redox OS</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Documentation</a></li>
            <li><a href="/">Contributing</a></li>
            <li><a href="/">Comunity</a></li>
            <li><a href="/">Merchendise</a></li>
          </ul>
        </div>
        <div class="column">
          <h3>The Nonprofit</h3>
          <ul>
            <li><a href="/">Bylaws</a></li>
            <li><a href="/">Meeting Minutes</a></li>
            <li><a href="/">Materials</a></li>
            <li><a href="/">Partnerships</a></li>
          </ul>
        </div>
        <div class="column">
          <h3>Resources</h3>
          <ul>
            <li><a href="/">GitLab</a></li>
            <li><a href="/">Book</a></li>
            <li><a href="/">Materials</a></li>
            <li><a href="/">Partnerships</a></li>
          </ul>
        </div>
      </nav>

      <div class="column is-one-quarter" id="footer-logo">
        <picture>
          <source srcset="/img/logo-dark.png" media="(prefers-color-scheme: dark)" />
          <img src="/img/logo.png" height="120" alt="Redox Logo" />
        </picture>

        <div class="is-flex">
          {{ partial "social.html" . }}
        </div>

        <div id="language-selector">
          <div id="current-language" tabindex="0">
            <!--Tabindex allows the menu to be opened by clicking on the language label-->
            <span>{{ .Language.LanguageName }}</span>
          </div>

          {{ if .IsTranslated }}
          <div id="language-list">
            {{ range .Translations }}
            <a class="language-option" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
            {{ end}}
          </div>
          {{ end }}
        </div>
      </div>
    </nav>

    <div id="copyright" class="columns">
      <div class="column">
        <p>
          Copyright &copy; 2015-2025 by <a href="https://gitlab.redox-os.org/redox-os"><b>The Redox Developers</b></a>.
          Redox OS is a trademark of the Redox OS nonprofit.
        </p>
      </div>
      <div class="column is-one-quarter">
        <a>Privacy Policy</a>
        <a>Nonprofit</a>
        <a>Licenses</a>
      </div>
    </div>
  </div>
</footer>