<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="The Redox official website">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s -F" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    {{ with (templates.Defer (dict "key" "global")) }}
        {{ partial "css.html" . }}
    {{ end }}

</head>
<body>
