<a href="https://gitlab.redox-os.org/redox-os/redox" class="column social">{{ readFile "static/img/logos/gitlab-fill.svg" | safeHTML }}</a>
<a href="https://matrix.to/#/#redox-join:matrix.org" class="column social">{{ readFile "static/img/logos/matrix-fill.svg" | safeHTML }}</a>
<a href="https://reddit.com/r/redox" class="column social">{{ readFile "static/img/logos/reddit-fill.svg" | safeHTML }}</a>
<a href="https://floss.social/@redox" class="column social">{{ readFile "static/img/logos/mastodon-fill.svg" | safeHTML }}</a>
<a href="https://github.com/redox-os/redox" class="column social">{{ readFile "static/img/logos/github-fill.svg" | safeHTML }}</a>
<a href="https://x.com/redox_os" class="column social">{{ readFile "static/img/logos/twitter-fill.svg" | safeHTML }}</a>
