<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  {{ partial "head.html" . }}

  <title>{{ .Site.Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
</head>
<body class="container">
  <header>
    {{ partial "menu.html" . }}
  </header>
  <div class="row install-row">
    <div class="col-md-8">
      <p class="pitch">
        <b>Redox</b> is a Unix-like Operating System written in <a style="color: inherit;" href="https://www.rust-lang.org/"><b>Rust</b></a>,
        aiming to bring the innovations of Rust to a modern microkernel and full set of applications.
      </p>
    </div>
    <div class="col-md-4 install-box">
      <br/>
      <a class="btn btn-primary" href="https://github.com/redox-os/redox/releases">View Releases</a>
      <a class="btn btn-success" href="https://github.com/redox-os/redox/">Pull from GitHub</a>
    </div>
  </div>
  <div class="row features">
    <div class="col-md-6">
      <ul class="laundry-list" style="margin-bottom: 0px;">
        <li>Implemented in Rust</li>
        <li>Microkernel Design</li>
        <li>Includes optional GUI - Orbital</li>
        <li>Supports Rust Standard Library</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="laundry-list">
        <li>MIT Licensed</li>
        <li>Drivers run in Userspace</li>
        <li>Includes common Unix commands</li>
        <li>Newlib port for C programs</li>
      </ul>
    </div>
  </div>
  <div class="row features">
    <div class="col-sm-12">
      <div style="font-size: 16px; text-align: center;">
        Redox running Orbital (June 20, 2016)
      </div>
      <a href="/img/screenshot.png">
        <img class="img-responsive" src="/img/screenshot.png"/>
      </a>
    </div>
  </div>
  <footer class="copyright">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
